
ul{
  list-style: none;
  padding-left: 0;
}

p{
  margin-left: 10px;
}


.nav-bar-a-tags,.nav-bar-buttons{
}

.nav-bar-buttons{
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 20px;
  margin-top: 25px;
  margin-right: 20px;
  margin-left: 20px;
  padding: 0;
  text-align: center;
  height: 40px;
  width:  40px;
  border-radius: 5px;
  border: none;
  background-color:  #2660aa;
  color: white;
}

.nav-bar-a-tags{
  margin-left: 15px;
  font-size: 15px;
  color: black;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  text-decoration: none;

}

#Acceuil{
  margin-left: 15px;
}

#GamingPCs{
  margin-left: 4px;
}

#contactus{
  margin-left: 8px;
}

